.review {
    padding: 0 10rem 3rem 10rem;
}

.review-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.review-card .ant-card-cover {
    display: flex;
    justify-content: center;
}

.review-card .ant-card-cover img {
    border-radius: 50%;
    width: 100px;
}

.review-card .ant-card-meta-title,
.review-card .ant-card-meta-description {
    text-align: center;
}

.review-card .anticon-star {
    font-size: 1.2rem;
    color: var(--green);
}

.review-card .ant-rate {
    display: flex;
    justify-content: center;
}
